{% set changes = stable %}
{% if section.title.id === "beta" %}
  {% set changes = beta %}
{% endif %}

<p>{{ site[locale].updateLabels.version }} <span data-h2-font-weight="base(700)">{{ changes.version }}</span></p>
{% if changes[locale].breaking != null and changes[locale].breaking | length != 0 %}
  <h5
    data-h2-font-size="base(h6, 1)"
    data-h2-font-weight="base(700)" 
    data-h2-color="base(dark.primary) base:dark(lighter.primary)"
    data-h2-margin="base(x2, 0, x1, 0)">{{ site[locale].updateLabels.breaking }}</h5>
  <ul data-h2-padding="base(0, 0, 0, x1)">
    {% for change in changes[locale].breaking %}
      {% for item in change.changes %}
        <li>{{ item }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
{% if changes[locale].features != null and changes[locale].features | length != 0 %}
  <h5
    data-h2-font-weight="base(700)" 
    data-h2-font-size="base(h6, 1)"
    data-h2-color="base(dark.primary) base:dark(lighter.primary)"
    data-h2-margin="base(x2, 0, x1, 0)">{{ site[locale].updateLabels.features }}</h5>
  <ul data-h2-padding="base(0, 0, 0, x1)">
    {% for change in changes[locale].features %}
      {% for item in change.changes %}
        <li>{{ item }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
{% if changes[locale].optimizations != null and changes[locale].optimizations | length != 0 %}
  <h5
    data-h2-font-size="base(h6, 1)"
    data-h2-font-weight="base(700)" 
    data-h2-color="base(dark.primary) base:dark(lighter.primary)"
    data-h2-margin="base(x2, 0, x1, 0)">{{ site[locale].updateLabels.optimizations }}</h5>
  <ul data-h2-padding="base(0, 0, 0, x1)">
    {% for change in changes[locale].optimizations %}
      {% for item in change.changes %}
        <li>{{ item }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
{% if changes[locale].bugfixes != null and changes[locale].bugfixes | length != 0 %}
  <h5
    data-h2-font-size="base(h6, 1)"
    data-h2-font-weight="base(700)" 
    data-h2-color="base(dark.primary) base:dark(lighter.primary)"
    data-h2-margin="base(x2, 0, x1, 0)">{{ site[locale].updateLabels.bugfixes }}</h5>
  <ul data-h2-padding="base(0, 0, 0, x1)">
    {% for change in changes[locale].bugfixes %}
      {% for item in change.changes %}
        <li>{{ item }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}