<div data-h2-margin="base(x3, auto, 0, auto) laptop(x4, auto, 0, auto)">
  <div data-h2-flex-grid="base(flex-start, 0, x2, 0)">
    <div data-h2-flex-item="base(1of1) p-tablet(fill)">
      {% for section in sections %}
        {% include "components/docs-content-h3.njk" %}
        {% if section.sections %}
          {% for section in section.sections %}
            {% if section.title %}
              {% include "components/docs-content-h4.njk" %}
              <ul>
                {% include "components/attribute-group.njk" %}
              </ul>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>