{% for section in sections %}
  <div data-h2-margin="base(x3, auto, 0, auto) laptop(x4, auto, 0, auto)">
    <div data-h2-flex-grid="base(flex-start, 0, x2, 0)">
      {# <div data-h2-flex-item="base(1of1) p-tablet(content)">
        <div
          data-h2-width="base(25%) p-tablet(x3)"
          data-h2-height="base(x.25)"
          data-h2-margin="
            base(0, auto, x1, auto) 
            p-tablet(.75rem, auto, 0, auto) 
            l-tablet(.9rem, auto, 0, auto)
          "
          data-h2-bg-color="base(primary) base:dark(accent)"
          data-h2-radius="base(pill)">
        </div>
      </div> #}
      <div data-h2-flex-item="base(1of1) p-tablet(fill)">
        {% if section.title %}
          {% include "components/docs-content-h3.njk" %}
        {% endif %}
        {% if section.content %}
          {% include "components/docs-content-loop.njk" %}
        {% endif %}
        {% if section.sections %}
          {% for section in section.sections %}
            {% if section.title %}
              {% include "components/docs-content-h4.njk" %}
            {% endif %}
            {% if key === "docs" %}
              {% include "patterns/docs-home-changes.njk" %}
            {% endif %}
            {% if section.content %}
              {% include "components/docs-content-loop.njk" %}
            {% endif %}
            {% if section.sections %}
              {% for section in section.sections %}
                {% if section.title %}
                  {% include "components/docs-content-h5.njk" %}
                {% endif %}
                {% if section.content %}
                  {% include "components/docs-content-loop.njk" %}
                {% endif %}
                {% if section.sections %}
                  {% for section in section.sections %}
                    {% if section.title %}
                      {% include "components/docs-content-h6.njk" %}
                    {% endif %}
                    {% if section.content %}
                      {% include "components/docs-content-loop.njk" %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}

{% if examples.state === true %}
  {% for section in examples.sections %}
    <div data-h2-margin="base(x3, 0, 0, 0)">
      {% if section.title %}
        {% include "components/docs-content-h3.njk" %}
      {% endif %}
      {% if section.content %}
        {% include "components/docs-content-loop.njk" %}
      {% endif %}
      {{ content | safe }}
    </div>
  {% endfor %}
{% endif %}