<div
  data-h2-position="base(sticky)"
  data-h2-layer="base(5)"
  data-h2-offset="base(0, auto, auto, auto)">
  <div data-h2-padding="base(x1, 0, 0, 0) l-tablet(x2, 0, 0, 0) laptop(x3, 0, 0, 0) desktop(x4, 0, 0, 0)">
    <div
      data-h2-bg-color="base(white) base:dark(dark.font)"
      data-h2-radius="base(rounded)"
      data-h2-padding="base(x2)"
      data-h2-shadow="base(l)"
      data-h2-overflow="base(auto, y)"
      data-h2-width="base(100%) l-tablet(22rem)"
      data-h2-max-height="base(70vh)">
        <h1
          data-h2-font-size="base(h2)"
          data-h2-font-weight="base(800)"
          data-h2-font-color="base(dark.font) base:dark(white)"
          data-h2-text-align="base(center)">Hydrogen</h1>
        <form data-h2-margin="base(x2, auto, auto, auto)">
          <label
            data-h2-display="base(block)"
            data-h2-font-size="base(caption)"
            data-h2-font-color="base(dark.font) base:dark(white)">Search</label>
          <input 
            data-h2-border="base(all, 1px, solid, black)"
            data-h2-display="base(block)"
            data-h2-radius="base(code)"
            data-h2-padding="base(x.5, x1)"
            data-h2-font-size="base(copy)"
            data-h2-width="base(100%)"
            type="text"
            placeholder="Find something...">
        </form>
        <p data-h2-margin="base(x1, 0, 0, 0)">Main menu</p>
        <ul id="nav" data-h2-display="base(none)">
          <li data-h2-font-color="base(dark.font) base:dark(white)">
            <a href="/en/docs">Documentation</a>
          </li>
          <li data-h2-font-color="base(dark.font) base:dark(white)">
            Setup
            <ul data-h2-padding="base(0, 0, 0, x1)">
              <li data-h2-font-color="base(dark.font) base:dark(white)">
                <a href="/en/docs/setup/installation">Installation</a>
              </li>
              <li data-h2-font-color="base(dark.font) base:dark(white)">
                <a href="/en/docs/setup/commands">Commands</a>
              </li>
              <li data-h2-font-color="base(dark.font) base:dark(white)">
                <a href="/en/docs/setup/configuration">Configuration</a>
              </li>
              <li data-h2-font-color="base(dark.font) base:dark(white)">
                <a href="/en/docs/setup/syntax">Syntax</a>
              </li>
            </ul>
          </li>
          <li data-h2-font-color="base(dark.font) base:dark(white)">
            <a href="/en/docs/attributes">Attributes</a>
            <ul data-h2-display="base(none)">
              {% set propertyCollection = collections["attributes_" + locale + "_asc"] %}
              {% for prop in propertyCollection %}
                {% for item in attributes[locale] %}
                  {% if prop.data.key == item.key %}
                    <li>
                      <a
                        href="{{ prop.url | url }}"
                        data-h2-font-color="base:hover(primary) base:dark:hover(lighter.primary)"
                        title="{{ item.linkTitle }}">{{ item.title | lower }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
          </li>
          <li data-h2-font-color="base(dark.font) base:dark(white)">Changelog</li>
          <li data-h2-font-color="base(dark.font) base:dark(white)">Github</li>
        </ul>
        <p data-h2-margin="base(x1, 0, 0, 0)">On this page</p>
        <ul data-h2-padding="base(0, 0, 0, x1)">
          {% for section in sections %}
            <li>
              <a
                href="#{{ section.title.id }}"
                title="">{{ section.title.text }}</a>
            </li>
            {% if section.sections %}
              <ul data-h2-padding="base(0, 0, 0, x1)">
                {% for section in section.sections %}
                  <li>
                    <a
                      href="#{{ section.title.id }}"
                      title="">{{ section.title.text }}</a>
                  </li>
                  {% if section.sections %}
                    <ul data-h2-padding="base(0, 0, 0, x1)">
                      {% for section in section.sections %}
                        <li>
                          <a
                            href="#{{ section.title.id }}"
                            title="">{{ section.title.text }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
  </div>
</div>