<div
  data-h2-layer="b(3, relative)"
  data-h2-bg-color="b(white) b:dark(dark.font)">
  <div
      data-h2-container="b(center, full)"
      data-h2-padding="b(x1, x1) m(x.5, x5)">
      <div data-h2-flex-grid="b(center, 0, x1)">
        <div data-h2-flex-item="b(auto)">
          {% set currentKey = eleventyNavigation.key %}
          {% set navPages = collections.all | eleventyNavigationBreadcrumb(currentKey, { includeSelf: true }) %}
          <ul data-h2-padding="b(0)">
            {% for item in navPages %}
              {% if loop.last == true %}
                <li
                data-h2-margin="b(0, x.5, 0, 0)" 
                data-h2-display="b(inline-block)">
                <a 
                  href="{{ item.url }}"
                  title=""
                  data-h2-font-weight="b(800)"
                  data-h2-text-decoration="b(none)"
                  data-h2-font-color="b(darker.primary) b:hover(primary) b:dark(lighter.primary) b:dark:hover(white)">{{ item.key }}</a></li>
              {% else %}
              <li
                data-h2-margin="b(0, x.5, 0, 0)" 
                data-h2-display="b(inline-block)">
                <a 
                  href="{{ item.url }}"
                  title=""
                  data-h2-font-color="b:hover(primary) b:dark:hover(lighter.primary)">{{ item.key }}</a></li>
              <li
                data-h2-margin="b(0, x.5, 0, 0)" 
                data-h2-display="b(inline-block)"><span>/</span></li>
              {% endif %}
            {% endfor %}
          <ul>
        </div>
        <div
          data-h2-text-align="m(right)" 
          data-h2-flex-item="b(content)">
          <ul data-h2-padding="b(0)">
            <li data-h2-display="b(inline-block)">
              <span>version <strong data-h2-font-weight="b(800)" data-h2-font-color="b(darker.primary) b:dark(lighter.primary)">2.0.0</strong></span>
            </li>
            <li
              data-h2-margin="b(0, 0, 0, x1)" 
              data-h2-display="b(inline-block)"
              data-h2-vertical-align="b(middle)">
              <button
                data-h2-bg-color="b(black) b:dark(white)"
                data-h2-radius="b(pill)"
                data-h2-height="b(x2)"
                data-h2-width="b(x3.5)"
                data-h2-position="b(relative)"
                style="cursor: pointer;"
                class="mode-toggle"
                onclick="toggleMode(this)">
                <div data-h2-bg-color="b(white) b:dark(dark.font)">
                  <img class="sun" src="/static/img/icon-sun.svg" alt="A sun icon representing light mode.">
                  <img class="moon" src="/static/img/icon-moon.svg" alt="A moon icon representing dark mode.">
                </div>
              </button>
            </li>
            {# loop though site.languages #}
            {% for lgg in site.languages %}
              {# set translatedUrl to the homepage of that language by default #}
              {% set translatedUrl = "/" + lgg.code + "/" %}
              {# set current language class #}
              {% set activeClass = "is-active" if lgg.code == locale else "" %}
              {# loop through all the content of the site #}
              {% for item in collections.all %}
                {# for each item in the loop, check if
                - its translationKey matches the current item translationKey
                - its locale matches the code of the language we are looping through #}
                {% if item.data.key == key and item.data.locale == lgg.code %}
                  {% set translatedUrl = item.url %}
                {% endif %}
              {% endfor %}
              <li 
                class="c-lggnav__item {{ activeClass }}"
                data-h2-margin="b(0, 0, 0, x1)" 
                data-h2-display="b(inline-block)">
                <a 
                  class="c-lggnav__link" 
                  href="{{ translatedUrl }}"
                  data-h2-font-color="b:hover(primary) b:dark:hover(lighter.primary)">{{ lgg.label }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </div>
</div>