<!DOCTYPE html>

<html lang="{{ locale }}">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/hydrogen.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/hydrogen.vars.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>

  <body 
    data-h2-bg-color="b(#f3f3f9) b:dark(black)"
    data-h2-font-color="b([dark]font) b:dark(white)"
    class="test-font"
    data-h2-font-family="b(sans)">
    {{ content | safe }}
    <script src="/static/js/app.js"></script>
    <script src="/static/js/alpine.js"></script>
  </body>

</html>