<div
  data-h2-position="b(sticky)"
  data-h2-layer="b(5)"
  data-h2-offset="b(0, auto, auto, auto)">
  <div data-h2-padding="b(x4, 0, 0, 0)">
    <div
      data-h2-bg-color="b(white) b:dark([dark]font)"
      data-h2-radius="b(rounded)"
      data-h2-padding="b(x3)"
      data-h2-shadow="b(l)"
      data-h2-overflow="b(auto, y)"
      style="max-height: 75vh;">
        <h1
          data-h2-font-size="b(h4)"
          data-h2-font-weight="b(800)"
          data-h2-font-color="b([dark]font) b:dark(white)"
          data-h2-text-align="b(center)">Hydrogen</h1>
        <form data-h2-margin="b(x1, auto, auto, auto)">
          <label
            data-h2-display="b(block)"
            data-h2-font-size="b(caption)"
            data-h2-font-color="b([dark]font) b:dark(white)">Search</label>
          <input 
            data-h2-border="b(all, 1px, solid, black)"
            data-h2-display="b(block)"
            data-h2-radius="b(rounded)"
            data-h2-padding="b(x.5, x1)"
            data-h2-font-size="b(copy)"
            data-h2-width="b(100%)"
            type="text"
            placeholder="Find something...">
        </form>
        <ul data-h2-padding="b(x2, 0, 0, x1)">
          <li data-h2-font-color="b([dark]font) b:dark(white)">Documentation</li>
          <li data-h2-font-color="b([dark]font) b:dark(white)">
            Setup
            <ul data-h2-padding="b(0, 0, 0, x1)">
              <li data-h2-font-color="b([dark]font) b:dark(white)">Installation</li>
              <li data-h2-font-color="b([dark]font) b:dark(white)">Commands</li>
              <li data-h2-font-color="b([dark]font) b:dark(white)">Basic usage</li>
            </ul>
          </li>
          <li data-h2-font-color="b([dark]font) b:dark(white)">Configuration</li>
          <li data-h2-font-color="b([dark]font) b:dark(white)">Attributes</li>
          <li data-h2-font-color="b([dark]font) b:dark(white)">Changelog</li>
          <li data-h2-font-color="b([dark]font) b:dark(white)">Github</li>
        </ul>
      </div>
  </div>
</div>