<div 
  data-h2-padding="b(x4, 0)"
  data-h2-layer="b(2, relative)">
  <div
    data-h2-position="b(absolute)"
    data-h2-offset="b(0, auto, auto, -x5)"
    data-h2-height="b(100%)"
    data-h2-width="b(var(--widthHack))"
    data-h2-bg-color="b(black)"
    data-h2-overflow="b(hidden)">
      <div
        class="accent-radial"
        data-h2-bg-color="b(accentRadial)"></div>
      <div
        class="primary-radial"
        data-h2-bg-color="b(primaryRadial)"></div>
      <div 
        data-h2-bg-color="b(divider)"
        data-h2-height="b(x.25)"
        data-h2-width="b(100%)"
        data-h2-position="b(absolute)"
        data-h2-offset="b(auto, auto, 0, 0)"></div>
  </div>
  <div data-h2-layer="b(2, relative)">
    <div
      data-h2-text-align="b(center) m(left)" 
      data-h2-flex-grid="b(center, 0, x2)">
      <div data-h2-flex-item="b(1of1) m(content)">
        <img 
          src="/static/img/icon-robot.svg" 
          alt="{{ home[locale].otherFeatures.iconAlt }}" 
          data-h2-width="b(25%) s(15%) m(x3)"
          data-h2-display="b(inline-block)"
          data-h2-margin="b(5px, 0, 0, 0)"
          class="section-icon">
      </div> 
      <div data-h2-flex-item="b(1of1) m(auto)">
        <h2
          data-h2-font-color="b(white)"
          data-h2-margin="b(0)"
          data-h2-font-size="b(h3)"
          data-h2-font-weight="b(700)">
            Welcome to the docs
          </h2>
      </div>
    </div>
    <div data-h2-padding="b(x2, 0, 0, 0)">
      <div data-h2-flex-grid="b(center, 0, x2, x1)">
        <div data-h2-flex-item="b(1of2)">
          <div data-h2-flex-grid="b(center, 0, x2, 0)">
            <div data-h2-flex-item="b(content)">
              <div
                data-h2-width="b(25%) m(x3)"
                data-h2-height="b(x.25)"
                data-h2-bg-color="b(accent)"
                data-h2-radius="b(pill)"></div>
            </div>
            <div data-h2-flex-item="b(auto)">
              <a
                href=""
                title=""
                data-h2-font-size="b(h6)"
                data-h2-font-weight="b(700)"
                data-h2-font-color="b(white) b:hover(lighter.primary)">Installation</a>
            </div>
          </div>
        </div>
        <div data-h2-flex-item="b(1of2)">
          <div data-h2-flex-grid="b(center, 0, x2, 0)">
            <div data-h2-flex-item="b(content)">
              <div
                data-h2-width="b(25%) m(x3)"
                data-h2-height="b(x.25)"
                data-h2-bg-color="b(accent)"
                data-h2-radius="b(pill)"></div>
            </div>
            <div data-h2-flex-item="b(auto)">
              <a
                href="/{{ locale }}/docs/attributes"
                title=""
                data-h2-font-size="b(h6)"
                data-h2-font-weight="b(700)"
                data-h2-font-color="b(white) b:hover(lighter.primary)">Find an attribute</a>
            </div>
          </div>
        </div>
        <div data-h2-flex-item="b(1of2)">
          <div data-h2-flex-grid="b(center, 0, x2, 0)">
            <div data-h2-flex-item="b(content)">
              <div
                data-h2-width="b(25%) m(x3)"
                data-h2-height="b(x.25)"
                data-h2-bg-color="b(accent)"
                data-h2-radius="b(pill)"></div>
            </div>
            <div data-h2-flex-item="b(auto)">
              <a
                href=""
                title=""
                data-h2-font-size="b(h6)"
                data-h2-font-weight="b(700)"
                data-h2-font-color="b(white) b:hover(lighter.primary)">Basic usage</a>
            </div>
          </div>
        </div>
        <div data-h2-flex-item="b(1of2)">
          <div data-h2-flex-grid="b(center, 0, x2, 0)">
            <div data-h2-flex-item="b(content)">
              <div
                data-h2-width="b(25%) m(x3)"
                data-h2-height="b(x.25)"
                data-h2-bg-color="b(accent)"
                data-h2-radius="b(pill)"></div>
            </div>
            <div data-h2-flex-item="b(auto)">
              <a
                href=""
                title=""
                data-h2-font-size="b(h6)"
                data-h2-font-weight="b(700)"
                data-h2-font-color="b(white) b:hover(lighter.primary)">Report an issue</a>
            </div>
          </div>
        </div>
        <div data-h2-flex-item="b(1of2)">
          <div data-h2-flex-grid="b(center, 0, x2, 0)">
            <div data-h2-flex-item="b(content)">
              <div
                data-h2-width="b(25%) m(x3)"
                data-h2-height="b(x.25)"
                data-h2-bg-color="b(accent)"
                data-h2-radius="b(pill)"></div>
            </div>
            <div data-h2-flex-item="b(auto)">
              <a
                href=""
                title=""
                data-h2-font-size="b(h6)"
                data-h2-font-weight="b(700)"
                data-h2-font-color="b(white) b:hover(lighter.primary)">Configuration</a>
            </div>
          </div>
        </div>
        <div data-h2-flex-item="b(1of2)">
          <div data-h2-flex-grid="b(center, 0, x2, 0)">
            <div data-h2-flex-item="b(content)">
              <div
                data-h2-width="b(25%) m(x3)"
                data-h2-height="b(x.25)"
                data-h2-bg-color="b(accent)"
                data-h2-radius="b(pill)"></div>
            </div>
            <div data-h2-flex-item="b(auto)">
              <a
                href=""
                title=""
                data-h2-font-size="b(h6)"
                data-h2-font-weight="b(700)"
                data-h2-font-color="b(white) b:hover(lighter.primary)">Contribute</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
    data-h2-margin="b(x4, auto, 0, auto)"
    data-h2-padding="b(0, 0, x2, 0) m(0, 0, x2, 0)">
  <div
    data-h2-text-align="b(center) m(left)" 
    data-h2-flex-grid="b(center, 0, x2)">
    <div data-h2-flex-item="b(1of1) m(content)">
      <img 
        src="/static/img/icon-test-tubes.svg" 
        alt="{{ home[locale].properties.iconAlt }}" 
        data-h2-width="b(25%) s(15%) m(x3)"
        data-h2-margin="b(5px, 0, 0, 0)"
        data-h2-display="b(inline-block)"
        class="section-icon">
    </div>
    <div data-h2-flex-item="b(1of1) m(auto)">
      <h2
        data-h2-font-color="b(dark.font) b:dark(white)"
        data-h2-font-size="b(h4)"
        data-h2-font-weight="b(800)">What's new</h2>
    </div>
    <div data-h2-flex-item="b(1of1) m(content)">
      <a 
        href="{{ home[locale].properties.titleLink.url }}"
        title="{{ home[locale].properties.titleLink.title }}"
        data-h2-font-weight="b(300)"
        data-h2-font-color="b:hover(primary) b:dark:hover(lighter.primary)"
        data-h2-font-size="b(h6)">See the full history</a>
    </div>  
  </div>
  <div data-h2-padding="b(x2, 0, 0, 0)">
    <div data-h2-flex-grid="b(flex-start, 0, x2, x1)">
      <div 
        data-h2-flex-item="b(1of1) m(content)"
        data-h2-align-self="b(center)">
          <div
            data-h2-width="b(25%) m(x3)"
            data-h2-height="b(x.25)"
            data-h2-bg-color="b(primary) b:dark(accent)"
            data-h2-radius="b(pill)"></div>
        </div>
      <div data-h2-flex-item="b(1of1) m(fill)">
        <p 
          data-h2-font-color="b(dark.font) b:dark(white)"
          data-h2-margin="b(0)"
          data-h2-font-weight="b(700)"
          data-h2-font-size="b(h6)">Hydrogen's latest stable release is: <span data-h2-font-color="b(dark.primary) b:dark(lighter.primary)">2.0.0</span></p>
      </div>
      <div style="flex-basis: 100%; width: 0;"></div>
      <div 
        data-h2-flex-item="b(1of1) m(content)"
        data-h2-align-self="b(center)">
          <div data-h2-width="b(25%) m(x3)"></div>
        </div>
      <div data-h2-flex-item="b(1of1) m(fill)">
        <p
          data-h2-font-color="b(dark.font) b:dark(white)"
          data-h2-font-weight="b(700)">22 breaking changes</p>
        <ul data-h2-padding="b(x1, 0, 0, x1)">
          <li data-h2-margin="b(auto, auto, x.5, auto)">flex grid only takes 3 (4th optional) values now and has been reworked to avoid horizontal overflows</li>
          <li data-h2-margin="b(auto, auto, x.5, auto)">b must now be included in the config, with a null query value</li>
          <li data-h2-margin="b(auto, auto, x.5, auto)">config options have been renamed in all cases to be more specific to their expected value (e.g. value => query for media queries)</li>
          <li data-h2-margin="b(auto, auto, x.5, auto)">location is now offset</li>
          <li data-h2-margin="b(auto, auto, x.5, auto)">margin/padding/offset is now b(all), b(top-bottom, right-left), b(top, right, bottom, left)</li>
          <li data-h2-margin="b(auto, auto, x.5, auto)">separates text deco from font style</li>
          <li data-h2-margin="b(auto, auto, x.5, auto)">removes border widths from config</li>
          <li data-h2-margin="b(auto, auto, x.5, auto)">removed width and height from config</li>
          <li data-h2-margin="b(auto, auto, x.5, auto)">removed opacity from the config</li>
          <li data-h2-margin="b(auto, auto, x.5, auto)">ditches the compile script</li>
        </ul>
      </div>
    </div>
  </div>  
</div>