---
layout: base.njk
prism: true
---
{% include "attribute-nav.njk.html" %}
<div data-h2-padding="b(0, x1) m(0, x5)">
  <div data-h2-flex-grid="b(stretch, 0, x4)">
    <div
      data-h2-position="b(relative)" 
      data-h2-flex-item="m(2of5) l(2of7)"
      data-h2-order="m(2)">
      {% include "docs-menu.njk.html" %}
    </div>
    <div
      data-h2-order="b(1)" 
      data-h2-flex-item="m(3of5) l(5of7)">
      {{ content | safe }}
    </div>
  </div>
</div>
{% include "docs-footer.njk.html" %}