{% for section in new %}
  <div data-h2-margin="b(x4, auto, 0, auto)">
    <div data-h2-flex-grid="b(flex-start, 0, x2, 0)">
      <div data-h2-flex-item="b(content)">
        <div
          data-h2-width="b(25%) m(x3)"
          data-h2-height="b(x.25)"
          data-h2-margin="b(1.2rem, auto, auto, auto)"
          data-h2-bg-color="b(primary) b:dark(accent)"
          data-h2-radius="b(pill)">
        </div>
      </div>
      <div data-h2-flex-item="l(fill)">
        {% if section.title %}
          <h3
            data-h2-font-size="b(h3, 1.3)"
            data-h2-font-weight="b(800)"
            id="{{ section.title.id }}">
            {{ section.title.text }}
            <a
              data-h2-color="b(lightest.black) b:hover(primary) b:dark(darker.white)"
              data-h2-transition="b(color, .2s, ease, 0s)"
              data-h2-font-size="b(copy)"
              data-h2-vertical-align="b(middle)" 
              href="{{ page.url }}#{{ section.title.id }}" title="">#</a>
          </h3>
        {% endif %}
        {% if section.content %}
          <div data-h2-flex-grid="b(flex-start, 0, 0, 0)">
            {% set codeCheck = false %}
            {% for content in section.content %}
              {% if content.type == "code" and content.width == "half" %}
                {% set codeCheck = true %}
              {% endif %}
            {% endfor %}
            {% for content in section.content %}
              {% if codeCheck == true %}
                <div data-h2-flex-item="b(1of1) s(1of2)">
              {% else %}
                <div data-h2-flex-item="b(1of1)">
              {% endif %}
                {% if content.type == "copy" %}
                  {% for item in content.items %}
                    <p>{{ item }}</p>
                  {% endfor %}
                {% elseif content.type == "list" %}
                  <ul>
                    {% for item in content.items %}
                      <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                {% elseif content.type == "code" and codeCheck == false %}
                  {% include "components/code.njk.html" %}
                {% else %}
                  {% for item in content.items %}
                    <p>{{ item }}</p>
                  {% endfor %}
                {% endif %}
              </div>
              {% if codeCheck == true %}
                <div data-h2-flex-item="b(1of1) s(1of2)">
                  {% include "components/code.njk.html" %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {% if section.sections %}
          {% for section in section.sections %}
            {% if section.title %}
              <h4
                data-h2-font-size="b(h4, 1.3)"
                data-h2-font-weight="b(200)"
                id="{{ section.title.id }}">
                {{ section.title.text }}
                <a
                  data-h2-color="b(lightest.black) b:hover(primary) b:dark(darker.white)"
                  data-h2-transition="b(color, .2s, ease, 0s)"
                  data-h2-font-size="b(copy)"
                  data-h2-vertical-align="b(middle)" 
                  href="{{ page.url }}#{{ section.title.id }}" title="">#</a>
              </h4>
            {% endif %}
            {% if section.content %}
              <div data-h2-flex-grid="b(flex-start, 0, 0, 0)">
                {% set codeCheck = false %}
                {% for content in section.content %}
                  {% if content.type == "code" and content.width == "half" %}
                    {% set codeCheck = true %}
                  {% endif %}
                {% endfor %}
                {% for content in section.content %}
                  {% if codeCheck == true %}
                    <div data-h2-flex-item="b(1of1) s(1of2)">
                  {% else %}
                    <div data-h2-flex-item="b(1of1)">
                  {% endif %}
                    {% if content.type == "copy" %}
                      {% for item in content.items %}
                        <p>{{ item }}</p>
                      {% endfor %}
                    {% elseif content.type == "list" %}
                      <ul>
                        {% for item in content.items %}
                          <li>{{ item }}</li>
                        {% endfor %}
                      </ul>
                    {% elseif content.type == "code" and codeCheck == false %}
                      {% include "components/code.njk.html" %}
                    {% else %}
                      {% for item in content.items %}
                        <p>{{ item }}</p>
                      {% endfor %}
                    {% endif %}
                  </div>
                  {% if codeCheck == true %}
                    <div data-h2-flex-item="b(1of1) s(1of2)">
                      {% include "components/code.njk.html" %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}

{% for item in sections %}
  <div data-h2-margin="b(x4, auto, 0, auto)">
    <div data-h2-flex-grid="b(flex-start, 0, x2, 0)">
      <div data-h2-flex-item="b(content)">
        <div
          data-h2-width="b(25%) m(x3)"
          data-h2-height="b(x.25)"
          data-h2-margin="b(1.2rem, auto, auto, auto)"
          data-h2-bg-color="b(primary) b:dark(accent)"
          data-h2-radius="b(pill)"></div>
      </div>
      <div data-h2-flex-item="l(fill)">
        <h3
          data-h2-font-size="b(h3, 1.3)"
          data-h2-font-weight="b(800)"
          data-h2-margin="b(auto, auto, x2, auto)"
          id="{{ item.title.id }}">
          {{ item.title.text }}
          <a
            data-h2-color="b(lightest.black) b:hover(primary) b:dark(darker.white)"
            data-h2-transition="b(color, .2s, ease, 0s)"
            data-h2-font-size="b(copy)"
            data-h2-vertical-align="b(middle)" 
            href="{{ page.url }}#{{ item.title.id }}" title="">#</a>
        </h3>
        <div data-h2-flex-grid="b(flex-start, 0, x3, x2)">
          {% for section in item.new %}
            {% if section.title %}
              <h4
                data-h2-font-weight="b(200)" 
                data-h2-margin="b(0, 0, 0, 0)"
                id="{{ section.title.id }}">
                {{ section.title.text }}
                <a
                  data-h2-color="b(lightest.black) b:hover(primary) b:dark(darker.white)"
                  data-h2-transition="b(color, .2s, ease, 0s)"
                  data-h2-font-size="b(copy)"
                  data-h2-vertical-align="b(middle)" 
                  href="{{ page.url }}#{{ section.title.id }}" title="">#</a>
              </h4>
            {% endif %}
            {% if section.content %}
              <div data-h2-flex-grid="b(flex-start, 0, 0, 0)">
                {% set codeCheck = false %}
                {% for content in section.content %}
                  {% if content.type == "code" and content.width == "half" %}
                    {% set codeCheck = true %}
                  {% endif %}
                  </div>
                {% endfor %}
                {% for content in section.content %}
                  {% if codeCheck == true %}
                    <div data-h2-flex-item="b(1of1) s(1of2)">
                  {% else %}
                    <div data-h2-flex-item="b(1of1)">
                  {% endif %}
                    STUFF
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if section.sections %}

            {% endif %}
          {% endfor %}
          {# {% for content in item.content %}
            <pre style="width: 100%; word-wrap: break-word;"><code>{{ content | dump('\t') }}</code></pre>
            {% if content.title %}
              <div data-h2-flex-item="b(1of1)">
                <h4
                  data-h2-font-weight="b(200)" 
                  data-h2-margin="b(0, 0, 0, 0)"
                  id="{{ content.title.id }}">
                  {{ content.title.text }}
                  <a
                    data-h2-color="b(lightest.black) b:hover(primary) b:dark(darker.white)"
                    data-h2-transition="b(color, .2s, ease, 0s)"
                    data-h2-font-size="b(copy)"
                    data-h2-vertical-align="b(middle)" 
                    href="{{ page.url }}#{{ content.title.id }}" title="">#</a>
                </h4>
              </div>
            {% endif %}
            {% if content.code and content.code.type == "block" %}
              <div data-h2-flex-item="b(1of1) s(1of2)">
            {% else %}
              <div data-h2-flex-item="b(1of1)">
            {% endif %}
              {% if content.copy %}
                {% for item in content.copy %}
                  <p>{{ item | safe }}</p>
                {% endfor %}
              {% endif %}
              {% if content.list %}
                <ul>
                  {% for item in content.list %}
                    <li>{{ item | safe }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            {% if content.code %}
              {% if content.code.type == "block" %}
                <div data-h2-flex-item="b(1of1) s(1of2)">
              {% else %}
                <div data-h2-flex-item="b(1of1)">
              {% endif %}
                {% include "components/code.njk.html" %}
              </div>
            {% endif %}
          {% endfor %} #}
        </div>
      </div>
    </div>  
  </div>
{% endfor %}
{% if steps %}
  <div data-h2-margin="b(x4, auto, 0, auto)">
    <div data-h2-flex-grid="b(flex-start, 0, x2, 0)">
      <div data-h2-flex-item="b(content)">
        <div
          data-h2-width="b(25%) m(x3)"
          data-h2-height="b(0px)"></div>
      </div>
      <div data-h2-flex-item="l(fill)">
        <hr data-h2-margin="b(0, 0, x4, 0)">
        <div data-h2-flex-grid="b(center, 0, x3)">
          <div data-h2-flex-item="b(1of2)">
            {% if steps.previous != null %}
              <p
                data-h2-text-transform="b(uppercase)"
                data-h2-font-size="b(caption)"
                data-h2-font-weight="b(700)"
                data-h2-color="b(lighter.black)">Previously</p>
              <a
                href="{{ steps.previous.link }}"
                title="{{ steps.previous.title }}"
                data-h2-text-decoration="b(none)"
                data-h2-font-weight="b(700)"
                data-h2-color="b(primary) b:hover(dark.font) b:dark(lighter.primary) b:dark:hover(light.font)"
                data-h2-transition="b(color, .2s, ease, 0s)">
                <span
                  data-h2-font-size="b(h6, 1.3)" 
                  data-h2-text-decoration="b(underline)"
                  data-h2-margin="b(0, x.5, 0, 0)">{{ steps.previous.label }}</span><span data-h2-font-size="b(h6, 1.3)">&#187;</span>
              </a>
            {% endif %}
          </div>
          <div data-h2-flex-item="b(1of2)">
            {% if steps.next != null %}
              <p
                data-h2-text-transform="b(uppercase)"
                data-h2-font-size="b(caption)"
                data-h2-font-weight="b(700)"
                data-h2-color="b(lighter.black)">Up next</p>
              <a
                href="{{ steps.next.link }}"
                title="{{ steps.next.title }}"
                data-h2-text-decoration="b(none)"
                data-h2-font-weight="b(700)"
                data-h2-color="b(primary) b:hover(dark.font) b:dark(lighter.primary) b:dark:hover(light.font)"
                data-h2-transition="b(color, .2s, ease, 0s)">
                <span
                  data-h2-font-size="b(h6, 1.3)" 
                  data-h2-text-decoration="b(underline)"
                  data-h2-margin="b(0, x.5, 0, 0)">{{ steps.next.label }}</span><span data-h2-font-size="b(h6, 1.3)">&#187;</span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>  
  </div>
{% endif %}