<div
  data-h2-bg-color="b(black)" 
  data-h2-margin="b(x4, 0, 0, 0)"
  data-h2-layer="b(1, relative)">
  <div 
      data-h2-bg-color="b(divider)"
      data-h2-height="b(x.25)"></div>
  <div
    data-h2-position="b(absolute)"
    data-h2-offset="b(0, auto, auto, 0)"
    data-h2-overflow="b(hidden)"
    data-h2-height="b(100%)"
    data-h2-width="b(100%)">
    <div
      class="accent-radial"
      data-h2-bg-color="b(accentRadial)"></div>
    <div
      class="primary-radial"
      data-h2-bg-color="b(primaryRadial)"></div>
  </div>
  {% include "footer.njk.html" %}
</div>