<div 
  data-h2-container="b(center, l)"
  data-h2-padding="b(x3, x1) m(x5, x5)"
  data-h2-layer="b(1, relative)"
  data-h2-overflow="b(hidden)">
  <div data-h2-flex-grid="b(flex-start, 0, x3) m(flex-start, 0, 0)">
    <div
      data-h2-text-align="b(center) m(left)" 
      data-h2-flex-item="b(1of1) m(1of2)">
      <p
        data-h2-font-color="b(white)"
        data-h2-font-size="b(h6)"
        data-h2-font-weight="b(700)">Hydrogen</p>
    </div>
    <div 
      data-h2-text-align="b(center) m(right)"
      data-h2-flex-item="b(1of1) m(1of2)">
      <div
        data-h2-display="b(inline-block)" 
        data-h2-width="b(100%) m(100%)">
        <span
          data-h2-display="b(block)"
          data-h2-font-color="b(white)"
          data-h2-font-size="b(h6, 1.3)"
          data-h2-margin="b(0, auto, x1, auto)"
          data-h2-font-weight="b(200)"
          data-h2-width="b(90%) m(100%)">Made in Canada by humans like you.</span>
        <div
          data-h2-height="b(x.25)"
          data-h2-bg-color="b(accent)"
          data-h2-radius="b(pill)"></div>
      </div>
    </div>
  </div>
</div>