<div 
  data-h2-container="b(center, l)"
  data-h2-padding="b(x4, x3) m(x5, x5)"
  data-h2-layer="b(1, relative)"
  data-h2-overflow="b(hidden)">
  <div data-h2-flex-grid="b(flex-start, 0, x3) m(flex-start, 0, 0)">
    <div data-h2-flex-item="b(1of1) m(1of2)">
      <p
        data-h2-font-color="b(white)"
        data-h2-font-size="b(h6)"
        data-h2-font-weight="b(700)">Hydrogen</p>
    </div>
    <div 
      data-h2-text-align="b(right)"
      data-h2-flex-item="b(1of1) m(1of2)">
      <div
        data-h2-display="b(inline-block)" 
        data-h2-width="b(70%) m(100%)">
        <p
          data-h2-margin="b(0, 0, x1, 0)"
          data-h2-font-color="b(white)"
          data-h2-font-size="b(h6)"
          data-h2-font-weight="b(200)">Made in Canada by humans like you.</p>
        <div
          data-h2-height="b(x.25)"
          data-h2-bg-color="b(accent)"
          data-h2-radius="b(pill)"></div>
      </div>
    </div>
  </div>
</div>