<div
    data-h2-container="b(center, l)"
    data-h2-padding="b(right-left, l) m(right-left, xxl)"
    data-h2-margin="b(top, xxl)">
  <div
    data-h2-text-align="b(center) m(left)" 
    data-h2-flex-grid="m(middle, expanded, flush, m)">
    <div data-h2-flex-item="b(1of1) m(1of12)">
      <img 
        src="/static/img/icon-robot.svg" 
        alt="{{ home[locale].otherFeatures.iconAlt }}" 
        data-h2-width="b(25) s(15) m(90)"
        data-h2-display="b(inline-block)"
        data-h2-margin="b(bottom, l) m(bottom, none)"
        class="section-icon">
    </div> 
    <div data-h2-flex-item="b(1of1) m(11of12)">
      <h2
        data-h2-font-color="b([light]black) b:dark(white)"
        data-h2-margin="b(all, none)"
        data-h2-font-weight="b(800)">
          {{ home[locale].otherFeatures.title }}
        </h2>
    </div>
  </div>
  {% for item in home[locale].otherFeatures.features %}
    <div data-h2-margin="b(top, xl)">
      <div data-h2-flex-grid="b(top, expanded, flush, m)">
        <div 
          data-h2-flex-item="b(1of1) m(1of12)"
          data-h2-align-self="b(center)">
            <div
              data-h2-width="b(25) m(85)"
              data-h2-height="b(xxs)"
              data-h2-bg-color="b(primary) b:dark(accent)"
              data-h2-radius="b(pill)"></div>
          </div>
        <div data-h2-flex-item="b(1of1) m(11of12)">
          <p 
            data-h2-font-color="b([light]black) b:dark(white)"
            data-h2-margin="b(all, none)"
            data-h2-font-weight="b(800)"
            data-h2-font-size="b(h6)">{{ item.title }}</p>
        </div>
        <div data-h2-flex-item="b(1of12)" data-h2-display="b(none) m(block)"></div>
        <div data-h2-flex-item="b(1of1) m(7of12)">
          {% for item in item.content %}
            <p 
              data-h2-font-color="b([light]black) b:dark(white)"
              data-h2-margin="b(all, none)"
              data-h2-width="m(85)">{{ item }}</p>
          {% endfor %}
        </div>
        <div 
          data-h2-flex-item="b(1of1) m(4of12)"
          data-h2-text-align="b(center)">
          <a
            href="{{ item.link.url }}"
            title="{{ item.link.title }}"
            data-h2-display="b(block)"
            data-h2-bg-color="b(white) b:dark([light]black)"
            data-h2-radius="b(rounded)"
            data-h2-shadow="b(s) b:h(xl)"
            data-h2-padding="b(top-bottom, m) b(right-left, m)"
            data-h2-font-color="b([dark]primary) b:h(primary) b:dark(white)"
            data-h2-font-weight="b(800)"
            >{{ item.link.label }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
  <hr
    data-h2-margin="b(top-bottom, xxl)">
</div>