<div 
  data-h2-bg-color="base(white) base:dark(dark.font)" 
  data-h2-position="l-tablet(sticky)" 
  data-h2-offset="base(0, auto, auto, auto)"
  data-h2-layer="base(5)"
  data-h2-shadow="base(xl)">
  <div
      data-h2-container="base(center, large)"
      data-h2-padding="base(x1, x1) l-tablet(x.5, x5)">
      <div data-h2-flex-grid="base(flex-start, 0, x1) l-tablet(center, 0, x1)">
        <div
          data-h2-text-align="base(center) l-tablet(left)"  
          data-h2-flex-item="base(1of1) l-tablet(auto)">
          <ul
            data-h2-padding="base(0)" 
            data-h2-list-style="base(none)">
            <li
              data-h2-margin="base(0, x1, 0, 0)" 
              data-h2-display="base(inline-block)">
              <a 
                href="/"
                title=""
                data-h2-font-weight="base(800)"
                data-h2-text-decoration="base(none)"
                data-h2-font-color="base(darker.primary) base:hover(primary) base:dark(lighter.primary) base:dark:hover(white)">Home</a></li>
            <li
              data-h2-margin="base(0, x1, 0, 0)" 
              data-h2-display="base(inline-block)">
              <a 
                href="/{{ locale }}/docs"
                title=""
                data-h2-font-color="base:hover(primary) base:dark:hover(lighter.primary)">Docs</a></li>
            <li
              data-h2-margin="base(0, x1, 0, 0)" 
              data-h2-display="base(inline-block)">
              <a 
                href="https://github.com/hydrogen-design-system/hydrogen"
                title=""
                target="_blank"
                rel="noreferrer"
                data-h2-font-color="base:hover(primary) base:dark:hover(lighter.primary)">Github</a></li>
            <li
              data-h2-display="base(inline-block)">
              <a 
                href="/"
                title=""
                data-h2-font-color="base:hover(primary) base:dark:hover(lighter.primary)">Updates</a></li>
          </ul>
        </div>
        <div
          data-h2-text-align="base(center) l-tablet(right)" 
          data-h2-flex-item="base(1of1) l-tablet(content)">
          <ul>
            <li data-h2-display="base(inline-block)">
              <span>version <strong data-h2-font-weight="base(800)" data-h2-font-color="base(darker.primary) base:dark(lighter.primary)">2.0.0</strong></span>
            </li>
            <li
              data-h2-margin="base(0, 0, 0, x1)" 
              data-h2-display="base(inline-block)"
              data-h2-vertical-align="base(middle)">
              <button
                data-h2-bg-color="base(black) base:dark(white)"
                data-h2-radius="base(pill)"
                data-h2-height="base(x2)"
                data-h2-width="base(x3.5)"
                data-h2-position="base(relative)"
                style="cursor: pointer;"
                class="mode-toggle"
                onclick="toggleMode(this)">
                <div data-h2-bg-color="base(white) base:dark(dark.font)">
                  <img class="sun" src="/static/img/icon-sun.svg" alt="A sun icon representing light mode.">
                  <img class="moon" src="/static/img/icon-moon.svg" alt="A moon icon representing dark mode.">
                </div>
              </button>
            </li>
            {# loop though site.languages #}
            {% for lgg in site.languages %}
              {# set translatedUrl to the homepage of that language by default #}
              {% set translatedUrl = "/" + lgg.code + "/" %}
              {# set current language class #}
              {% set activeClass = "is-active" if lgg.code == locale else "" %}
              {# loop through all the content of the site #}
              {% for item in collections.all %}
                {# for each item in the loop, check if
                - its translationKey matches the current item translationKey
                - its locale matches the code of the language we are looping through #}
                {% if item.data.key == key and item.data.locale == lgg.code %}
                  {% set translatedUrl = item.url %}
                {% endif %}
              {% endfor %}
              <li 
                class="c-lggnav__item {{ activeClass }}"
                data-h2-margin="base(0, 0, 0, x1)" 
                data-h2-display="base(inline-block)">
                <a 
                  class="c-lggnav__link" 
                  href="{{ translatedUrl }}"
                  data-h2-font-color="base:hover(primary) base:dark:hover(lighter.primary)">{{ lgg.label }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </div>
</div>