<div
    data-h2-container="base(center, large)"
    data-h2-margin="base(x3, auto, 0, auto) l-tablet(x5, auto, 0, auto)"
    data-h2-padding="base(0, x1) l-tablet(0, x5)">
  <div
    data-h2-text-align="base(center) l-tablet(left)" 
    data-h2-flex-grid="base(center, 0, x2)">
    <div data-h2-flex-item="base(1of1) l-tablet(content)">
      <img 
        src="/static/img/icon-flag.svg" 
        alt="{{ home[locale].start.iconAlt }}" 
        data-h2-width="base(25%) p-tablet(15%) l-tablet(x3)"
        data-h2-display="base(inline-block)"
        data-h2-margin="base(5px, 0, 0, 0)"
        class="section-icon">
    </div>
    <div data-h2-flex-item="base(1of1) l-tablet(fill)">
      <h2
        data-h2-margin="base(0)"
        data-h2-font-weight="base(800)"
        data-h2-font-color="base(dark.font) base:dark(white)"
        data-h2-font-size="base(h4) l-tablet(h2)">{{ home[locale].start.title }}</h2>
    </div>
    <div data-h2-flex-item="base(1of1) l-tablet(content)">
      <a 
        href="{{ home[locale].start.titleLink.url }}"
        title="{{ home[locale].start.titleLink.title }}"
        data-h2-font-weight="base(300)"
        data-h2-font-color="base:hover(primary) base:dark:hover(lighter.primary)"
        data-h2-font-size="base(h6)">{{ home[locale].start.titleLink.label }}</a>
    </div>  
  </div>
  <div data-h2-margin="base(x2, 0, 0, 0) l-tablet(x2, 0, x1, 0)">
    <div data-h2-flex-grid="base(flex-start, 0, x2, x1)">
      <div data-h2-flex-item="base(1of1) l-tablet(content)">
          <div
            data-h2-width="base(25%) l-tablet(x3)"
            data-h2-height="base(x.25)"
            data-h2-margin="base(.75rem, auto, auto, auto)"
            data-h2-bg-color="base(primary) base:dark(accent)"
            data-h2-radius="base(pill)"></div>
        </div>
      <div data-h2-flex-item="base(1of1) l-tablet(fill)">
        <p 
          data-h2-font-weight="base(700)"
          data-h2-font-size="base(h6, 1.3)"
          data-h2-margin="base(auto, auto, x1, auto)">{{ home[locale].start.subtitle }}</p>
        <div data-h2-flex-grid="base(flex-start, 0, x2, x1)">
          {% for item in home[locale].start.content %}
            <div data-h2-flex-item="base(1of1) l-tablet(1of2)">
              <p data-h2-width="l-tablet(90%)">{{ item.content }}</p>
            </div>
            <div data-h2-flex-item="base(1of1) l-tablet(1of2)"{% if item.code == null %}data-h2-display="base(none) l-tablet(block)"{% endif %}>
              {% if item.code.length == 2 %}
                <div data-h2-flex-grid="base(flex-start, 0, x1)">
                  {% for item in item.code %}
                    <div data-h2-flex-item="base(1of2)">
                      <pre
                        data-h2-bg-color="base(dark.font)"
                        data-h2-padding="base(x1)"
                        data-h2-radius="base(code)"
                        data-h2-overflow="base(auto, x)"
                        data-h2-margin="base(0)"
                        data-h2-font-color="base(white)"><code>{{ item }}</code></pre>
                    </div>
                  {% endfor %}
                </div>
              {% elseif item.code == null %}
                {# Do nothing #}
              {% else %}
                <pre
                  data-h2-bg-color="base(dark.font)"
                  data-h2-padding="base(x1)"
                  data-h2-radius="base(code)"
                  data-h2-overflow="base(auto, x)"
                  data-h2-margin="base(0)"
                  data-h2-font-color="base(white)"><code>{{ item.code }}</code></pre>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <hr
    data-h2-margin="base(x3, 0) l-tablet(x5, 0)">
</div>