<div 
  data-h2-bg-color="b(black)"
  data-h2-padding="b(x4, 0) m(x4, 0, x3, 0)"
  data-h2-layer="b(1, relative)"
  data-h2-overflow="b(hidden)">
  <div
    class="accent-radial"
    data-h2-bg-color="b(accentRadial)"></div>
  <div
    class="primary-radial"
    data-h2-bg-color="b(primaryRadial)"></div>
  <div
    data-h2-text-align="b(right)" 
    data-h2-container="b(center, l)"
    data-h2-padding="b(0, x1) m(0, x5)"
    data-h2-position="b(relative)">
    <div
      data-h2-display="b(inline-block)"
      data-h2-width="b(70%) m(50%)">
      <div
        data-h2-height="b(x.25)"
        data-h2-bg-color="b(accent)"
        data-h2-radius="b(pill)"></div>
      <span
        data-h2-display="b(inline-block)"
        data-h2-font-color="b(white)"
        data-h2-margin="b(x1, 0, 0, 0)"
        data-h2-font-weight="b(200)"
        data-h2-width="b(70%)"
        data-h2-font-size="b(h6, 1.3)">{{ home[locale].slogan }}</span>
    </div>
    <h1
      data-h2-font-color="b(white)"
      data-h2-font-size="b(h2) m(h1)"
      data-h2-text-align="b(center) m(left)"
      data-h2-margin="b(x4, 0, x2, 0)"
      data-h2-font-weight="b(700)">{{ site.name }}</h1>
  </div>
</div>
<div 
  data-h2-bg-color="b(divider)"
  data-h2-height="b(x.25)"></div>
<div 
  data-h2-container="b(center, l)"
  data-h2-padding="b(0, x1) m(0, x5)"
  data-h2-margin="b(-x3, auto, 0, auto)"
  data-h2-layer="b(2, relative)">
  <div data-h2-flex-grid="b(flex-start, 0, x2, x1) m(stretch, 0, x2)">
    {% for item in home[locale].features %}
      <div data-h2-flex-item="m(1of3)">
        <div
          data-h2-bg-color="b(white) b:dark([dark]font)"
          data-h2-padding="b(x2)"
          data-h2-radius="b(rounded)"
          data-h2-shadow="b(m)"
          data-h2-height="b(100%)">
          <p
            data-h2-font-weight="b(800)"
            data-h2-font-size="b(copy)"
            data-h2-font-color="b([darker]primary) b:dark([lighter]primary)">{{ item.title }}</p>
          {% for item in item.content %}
            <p data-h2-margin="b(x1, 0, 0, 0)">{{ item }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>