<div
    data-h2-container="base(center, large)"
    data-h2-margin="base(x3, auto, 0, auto) l-tablet(x5, auto, 0, auto)"
    data-h2-padding="base(0, x1, x2, x1) l-tablet(0, x5, x2, x5)">
  <div
    data-h2-text-align="base(center) l-tablet(left)" 
    data-h2-flex-grid="base(center, 0, x2)">
    <div data-h2-flex-item="base(1of1) l-tablet(content)">
      <img 
        src="/static/img/icon-compass.svg" 
        alt="{{ home[locale].attributes.iconAlt }}" 
        data-h2-width="base(25%) p-tablet(15%) l-tablet(x3)"
        data-h2-display="base(inline-block)"
        data-h2-margin="base(5px, 0, 0, 0)"
        class="section-icon">
    </div>
    <div data-h2-flex-item="base(1of1) l-tablet(fill)">
      <h2
        data-h2-font-size="base(h4) l-tablet(h2)"
        data-h2-font-color="base(dark.font) base:dark(white)"
        data-h2-font-weight="base(800)">{{ home[locale].attributes.title }}</h2>
    </div>
    <div data-h2-flex-item="base(1of1) l-tablet(content)">
      <a 
        href="{{ home[locale].attributes.titleLink.url }}"
        title="{{ home[locale].attributes.titleLink.title }}"
        data-h2-font-weight="base(300)"
        data-h2-font-color="base:hover(primary) base:dark:hover(lighter.primary)"
        data-h2-font-size="base(h6)">{{ home[locale].attributes.titleLink.label }}</a>
    </div>  
  </div>
</div>
<div
  data-h2-bg-color="base(black)" 
  data-h2-margin="base(x4, 0, 0, 0)"
  data-h2-layer="base(1, relative)">
  <div 
      data-h2-bg-color="base(divider)"
      data-h2-height="base(x.25)"></div>
  <div
    data-h2-position="base(absolute)"
    data-h2-offset="base(0, auto, auto, 0)"
    data-h2-overflow="base(hidden)"
    data-h2-height="base(100%)"
    data-h2-width="base(100%)">
    <div
      class="accent-radial"
      data-h2-bg-color="base(accentRadial)"></div>
    <div
      class="primary-radial"
      data-h2-bg-color="base(primaryRadial)"></div>
  </div>
  <div
    data-h2-padding="base(0, x1) l-tablet(0, x5)" 
    data-h2-container="base(center, large)"
    data-h2-layer="base(1, relative)">
    <div
      data-h2-bg-color="base(white) base:dark(dark.font)"
      data-h2-radius="base(rounded)"
      data-h2-margin="base(-x4, 0, 0, 0)"
      data-h2-shadow="base(m)"
      data-h2-padding="base(x2, x2, x1.5, x2) l-tablet(x3, x3, x2.5, x3)">
      <div data-h2-flex-grid="base(flex-start, 0, x2)">
        {% for group in groups[locale] %}
          <div data-h2-flex-item="base(1of1) p-tablet(1of3) l-tablet(1of5)">
            <p
              data-h2-font-weight="base(800)"
              data-h2-margin="base(0, 0, x1, 0)"
              data-h2-font-color="base(dark.primary) base:dark(lighter.primary)">{{ group.title }}</p>
            <ul data-h2-padding="base(0, 0, 0, x1)">
              {% set propertyCollection = collections["attributes_" + locale + "_asc"] %}
              {% for prop in propertyCollection %}
                {% for item in attributes[locale] %}
                  {% if prop.data.key == item.key %}
                    {% if item.group == group.key %}
                      <li data-h2-margin="base(0, 0, x.5, 0)" >
                        <a
                          href="{{ prop.url | url }}"
                          data-h2-font-color="base:hover(primary) base:dark:hover(lighter.primary)"
                          title="{{ item.linkTitle }}">{{ item.title | lower }}</a>
                      </li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div data-h2-container="base(center, large)">
    {% include "footer.njk" %}
  </div>
</div>