<div
    data-h2-container="b(center, large)"
    data-h2-margin="b(x3, auto, 0, auto) m(x5, auto, 0, auto)"
    data-h2-padding="b(0, x1) m(0, x5)">
  <div
    data-h2-text-align="b(center) m(left)" 
    data-h2-flex-grid="b(center, 0, x2)">
    <div data-h2-flex-item="b(1of1) m(content)">
      <img 
        src="/static/img/icon-flag.svg" 
        alt="{{ home[locale].start.iconAlt }}" 
        data-h2-width="b(25%) s(15%) m(x3)"
        data-h2-display="b(inline-block)"
        data-h2-margin="b(5px, 0, 0, 0)"
        class="section-icon">
    </div>
    <div data-h2-flex-item="b(1of1) m(fill)">
      <h2
        data-h2-margin="b(0)"
        data-h2-font-weight="b(800)"
        data-h2-font-color="b(dark.font) b:dark(white)"
        data-h2-font-size="b(h4) m(h2)">{{ home[locale].start.title }}</h2>
    </div>
    <div data-h2-flex-item="b(1of1) m(content)">
      <a 
        href="{{ home[locale].start.titleLink.url }}"
        title="{{ home[locale].start.titleLink.title }}"
        data-h2-font-weight="b(300)"
        data-h2-font-color="b:hover(primary) b:dark:hover(lighter.primary)"
        data-h2-font-size="b(h6)">{{ home[locale].start.titleLink.label }}</a>
    </div>  
  </div>
  <div data-h2-margin="b(x2, 0, 0, 0) m(x2, 0, x1, 0)">
    <div data-h2-flex-grid="b(flex-start, 0, x2, x1)">
      <div data-h2-flex-item="b(1of1) m(content)">
          <div
            data-h2-width="b(25%) m(x3)"
            data-h2-height="b(x.25)"
            data-h2-margin="b(.75rem, auto, auto, auto)"
            data-h2-bg-color="b(primary) b:dark(accent)"
            data-h2-radius="b(pill)"></div>
        </div>
      <div data-h2-flex-item="b(1of1) m(fill)">
        <p 
          data-h2-font-weight="b(700)"
          data-h2-font-size="b(h6, 1.3)"
          data-h2-margin="b(auto, auto, x1, auto)">{{ home[locale].start.subtitle }}</p>
        <div data-h2-flex-grid="b(flex-start, 0, x2, x1)">
          {% for item in home[locale].start.content %}
            <div data-h2-flex-item="b(1of1) m(1of2)">
              <p data-h2-width="m(90%)">{{ item.content }}</p>
            </div>
            <div data-h2-flex-item="b(1of1) m(1of2)"{% if item.code == null %}data-h2-display="b(none) m(block)"{% endif %}>
              {% if item.code.length == 2 %}
                <div data-h2-flex-grid="b(flex-start, 0, x1)">
                  {% for item in item.code %}
                    <div data-h2-flex-item="b(1of2)">
                      <pre
                        data-h2-bg-color="b(dark.font)"
                        data-h2-padding="b(x1)"
                        data-h2-radius="b(code)"
                        data-h2-overflow="b(auto, x)"
                        data-h2-margin="b(0)"
                        data-h2-font-color="b(white)"><code>{{ item }}</code></pre>
                    </div>
                  {% endfor %}
                </div>
              {% elseif item.code == null %}
                {# Do nothing #}
              {% else %}
                <pre
                  data-h2-bg-color="b(dark.font)"
                  data-h2-padding="b(x1)"
                  data-h2-radius="b(code)"
                  data-h2-overflow="b(auto, x)"
                  data-h2-margin="b(0)"
                  data-h2-font-color="b(white)"><code>{{ item.code }}</code></pre>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <hr
    data-h2-margin="b(x3, 0) m(x5, 0)">
</div>