<div 
  data-h2-bg-color="b(black)"
  data-h2-padding="b(top-bottom, xl) m(top-bottom, xxl)"
  data-h2-layer="b(1, relative)"
  data-h2-overflow="b(all, hidden)">
  <div
    class="accent-radial"
    data-h2-bg-color="b(accentRadial)"></div>
  <div
    class="primary-radial"
    data-h2-bg-color="b(primaryRadial)"></div>
  <div
    data-h2-text-align="b(right)" 
    data-h2-container="b(center, l)"
    data-h2-padding="b(right-left, l) m(right-left, xxl)"
    data-h2-position="b(relative)">
    <div
      data-h2-display="b(inline-block)"
      data-h2-width="b(70) m(50)">
      <div
        data-h2-height="b(xxs)"
        data-h2-bg-color="b(accent)"
        data-h2-radius="b(pill)"></div>
      <span
        data-h2-display="b(inline-block)"
        data-h2-font-color="b(white)"
        data-h2-margin="b(top, m)"
        data-h2-font-weight="b(200)"
        data-h2-width="b(70)"
        data-h2-font-size="b(h5)">{{ home[locale].slogan }}</span>
    </div>
    <h1
      data-h2-font-color="b(white)"
      data-h2-font-size="b(h1)"
      data-h2-text-align="b(center) m(left)"
      data-h2-font-weight="b(800)">{{ site.name }}</h1>
  </div>
</div>
<div 
  data-h2-bg-color="b(divider)"
  data-h2-height="b(xxs)"></div>
<div 
  data-h2-container="b(center, l)"
  data-h2-padding="b(right-left, l) m(right-left, xxl)"
  data-h2-margin="b(top, -xxl)"
  data-h2-layer="b(2, relative)">
  <div data-h2-flex-grid="b(stretch, expanded, flush, l)">
    {% for item in home[locale].features %}
      <div data-h2-flex-item="m(1of3)">
        <div
          data-h2-bg-color="b(white) b:dark([light]black)"
          data-h2-padding="b(all, l)"
          data-h2-radius="b(rounded)"
          data-h2-shadow="b(m)"
          data-h2-height="b(100)">
          <p
            data-h2-margin="b(top, none)"
            data-h2-font-weight="b(800)"
            data-h2-font-size="b(h6)"
            data-h2-font-color="b([dark]primary) b:dark([light]primary)">{{ item.title }}</p>
          {% for item in item.content %}
            <p
              data-h2-font-color="b([light]black) b:dark(white)" 
              data-h2-margin="b(bottom, none)">{{ item }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>