<a
  href=""
  title=""
  {% if link.target == "blank" %}
    target="_blank"
  {% endif %}
  rel="noreferrer"
  data-h2-display="base(inline-block)"
  data-h2-background-color="base(primary)"
  data-h2-color="base(white)"
  data-h2-border="base(all, 0px, solid, white)"
  data-h2-cursor="base(pointer)"
  data-h2-font-size="base(caption)"
  data-h2-padding="base(x.5, x1)"
  data-h2-radius="base(code)"
  data-h2-text-decoration="base(underline)"
  data-h2-shadow="base(s) base:hover(l)"
  data-h2-transition="base(box-shadow, .2s, ease, 0s)">Commands</a>