<a
  href=""
  title=""
  {% if link.target == "blank" %}
    target="_blank"
  {% endif %}
  rel="noreferrer"
  data-h2-display="b(inline-block)"
  data-h2-background-color="b(primary)"
  data-h2-color="b(white)"
  data-h2-border="b(all, 0px, solid, white)"
  data-h2-cursor="b(pointer)"
  data-h2-font-size="b(caption)"
  data-h2-padding="b(x.5, x1)"
  data-h2-radius="b(code)"
  data-h2-text-decoration="b(underline)"
  data-h2-shadow="b(s) b:hover(l)"
  data-h2-transition="b(box-shadow, .2s, ease, 0s)">Commands</a>