<div data-h2-flex-grid="b(flex-start, 0, x.5)">
  <div data-h2-flex-item="b(fill)">
    <pre
      data-h2-background-color="b(white) b:dark(dark.font)"
      data-h2-padding="b(x.5, x1)"
      data-h2-radius="b(code)"
      data-h2-overflow="b(auto, x)"
      data-h2-margin="b(0)"
      data-h2-color="b(dark.font) b:dark(white)"
      data-h2-shadow="b(s)"><code>{% for item in item.code.content %}{{ item }}<br>{% endfor %}</code></pre>
  </div>
  {% if item.code.type == "command" %}
    <div data-h2-flex-item="b(content)">
      <button
        type="button"
        data-h2-background-color="b(primary)"
        data-h2-color="b(white)"
        data-h2-border="b(all, 0px, solid, white)"
        data-h2-cursor="b(pointer)"
        data-h2-font-size="b(caption)"
        data-h2-padding="b(x.5, x1)"
        data-h2-radius="b(code)"
        data-h2-text-decoration="b(underline)"
        data-h2-shadow="b(s) b:hover(l)"
        data-h2-transition="b(box-shadow, .2s, ease, 0s)">
        Copy
      </button>
    </div>
  {% endif %}
</div>