{% set code %}<code data-h2-background-color="base(transparent)" data-h2-color="base(dark.primary) base:dark(lighter.primary)" data-h2-font-size="base(copy)">{% endset %}

{% set anchor %}
  <a data-h2-color="base(dark.font) base:hover(primary) base:dark(light.font)" data-h2-transition="base:hover(color, .2s, ease, 0s)"
{% endset %}

<div data-h2-flex-grid="base(stretch, 0, x1) l-tablet(stretch, 0, x3, x1) desktop(stretch, 0, x4, x1)">
  {% for content in section.content %}
    {% if content.type == 'index' %}
      {% for section in section.sections %}
        <div data-h2-flex-item="base(1of1) p-tablet(content)">
          <a
            href="#{{ section.title.id }}"
            title=""
            data-h2-font-size="base(h6, 1)"
            data-h2-font-weight="base(700)"
            data-h2-display="base(block)"
            data-h2-margin="base(0, 0, x1, 0)"
            data-h2-color="base(primary) base:dark(lighter.primary)">{{ section.title.text }}</a>
          {% if section.sections %}
            <ul data-h2-padding="base(0, 0, 0, x1)">
              {% for section in section.sections %}
                <li>
                  <a
                    href="#{{ section.title.id }}"
                    title=""
                    data-h2-color="base(dark.font) base:hover(primary) base:dark(light.font)" 
                    data-h2-transition="base:hover(color, .2s, ease, 0s)">{{ section.title.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
    {% if content.width == 'full' %}
      <div data-h2-flex-item="base(1of1)">
    {% else %}
      <div data-h2-flex-item="base(1of1) laptop(1of2)">
    {% endif %}
    {% if content.type == "copy" %}
      {% for item in content.items %}
        <p
          {% if loop.last == false %}
            data-h2-margin="base(0, 0, x1, 0)"
          {% endif %}>
          {{ item | safe | replace("<code>", code) | replace("<a ", anchor)  }}
        </p>
      {% endfor %}
    {% elseif content.type == "list" %}
      {% if content.label %}
        <p data-h2-margin="base(0, 0, x.5, 0)">{{ content.label | safe | replace("<code>", code) | replace("<a ", anchor) }}</p>
      {% endif %}
      {% if content.style == "ordered" %}
        <ol data-h2-padding="base(0, 0, 0, x1)">
      {% else %}
        <ul data-h2-padding="base(0, 0, 0, x1)">
      {% endif %}
        {% for item in content.items %}
          {% if item.type and item.type == "sublist" %}
            <li>{{ item.content | safe | replace("<code>", code) | replace("<a ", anchor)  }}</li>
            {% if content.style == "ordered" %}
              <ol data-h2-padding="base(0, 0, 0, x1)">
            {% else %}
              <ul data-h2-padding="base(0, 0, 0, x1)">
            {% endif %}
              {% for item in item.items %}
                <li>{{ item | safe | replace("<code>", code) | replace("<a ", anchor)  }}</li>
              {% endfor %}
            {% if content.style == "ordered" %}
              </ol>
            {% else %}
              </ul>
            {% endif %}
          {% else %}
            <li>{{ item | safe | replace("<code>", code) | replace("<a ", anchor)  }}</li>
          {% endif %}
        {% endfor %}
      {% if content.style == "ordered" %}
        </ol>
      {% else %}
        </ul>
      {% endif %}
    {% elseif content.type == "code" %}
      {% include "components/docs-content-code.njk" %}
    {% elseif content.type == "syntax" %}
      {% include "components/docs-syntax.njk" %}
    {% elseif content.type == "group" %}
      <div data-h2-flex-grid="base(flex-start, 0, x1)">
        {% for content in content.items %}
          <div data-h2-flex-item="base(1of1)">
            {% if content.type == "copy" %}
              {% for item in content.items %}
                <p
                  {% if loop.last == false %}
                    data-h2-margin="base(0, 0, x1, 0)"
                  {% endif %}>
                  {{ item | safe | replace("<code>", code) | replace("<a ", anchor)  }}
                </p>
              {% endfor %}
            {% elseif content.type == "list" %}
              {% if content.label %}
                <p data-h2-margin="base(0, 0, x.5, 0)">{{ content.label | safe | replace("<code>", code) | replace("<a ", anchor) }}</p>
              {% endif %}
              {% if content.style == "ordered" %}
                <ol data-h2-padding="base(0, 0, 0, x1)">
              {% else %}
                <ul data-h2-padding="base(0, 0, 0, x1)">
              {% endif %}
                {% for item in content.items %}
                  {% if item.type and item.type == "sublist" %}
                    <li>{{ item.content | safe | replace("<code>", code) | replace("<a ", anchor)  }}</li>
                    {% if content.style == "ordered" %}
                      <ol data-h2-padding="base(0, 0, 0, x1)">
                    {% else %}
                      <ul data-h2-padding="base(0, 0, 0, x1)">
                    {% endif %}
                      {% for item in item.items %}
                        <li>{{ item | safe | replace("<code>", code) | replace("<a ", anchor)  }}</li>
                      {% endfor %}
                    {% if content.style == "ordered" %}
                      </ol>
                    {% else %}
                      </ul>
                    {% endif %}
                  {% else %}
                    <li>{{ item | safe | replace("<code>", code) | replace("<a ", anchor)  }}</li>
                  {% endif %}
                {% endfor %}
              {% if content.style == "ordered" %}
                </ol>
              {% else %}
                </ul>
              {% endif %}
            {% elseif content.type == "code" %}
              {% include "components/docs-content-code.njk" %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  {% endfor %}
</div>