<h5 
  data-h2-font-size="base(h5, 1)" 
  data-h2-font-weight="base(700)" 
  data-h2-text-align="base(center) p-tablet(left)"
  data-h2-margin="base(x2, 0, x1, 0)"
  id="{{ section.title.id }}">
  {{ section.title.text }}
  <a 
    data-h2-color="base(lightest.black) base:hover(primary) base:dark(darker.white) base:focus(black)" 
    data-h2-transition="base(color, .2s, ease, 0s)" 
    data-h2-font-size="base(copy)" 
    data-h2-display="base(inline)"
    data-h2-background-color="base:focus(focus)"
    data-h2-padding="base(x.15, x.25)"
    data-h2-vertical-align="base(middle)" 
    data-h2-font-weight="base(700)"
    style="outline: none;"
    href="{{ page.url }}#{{ section.title.id }}" 
    title="Skip to this section.">
    #
  </a>
</h5>