<div data-h2-flex-grid="base(center, 0, x1) p-tablet(center, 0, x2)">
  <div data-h2-flex-item="base(1of1) l-tablet(content)">
    <img 
      src="{{ section.title.img.src }}" 
      alt="{{ section.title.img.alt }}" 
      data-h2-width="base(15%) p-tablet(x3)"
      data-h2-display="base(block)" 
      data-h2-margin="base(0, auto) p-tablet(5px, 0, 0, 0)" 
      class="section-icon">
  </div>
  <div data-h2-flex-item="base(1of1) l-tablet(fill)">
    <h2 
      data-h2-font-weight="base(700)" 
      data-h2-text-align="base(center) p-tablet(left)"
      id="{{ section.title.id }}">
      {{ section.title.text }}
      <a 
        data-h2-color="base(lightest.black) base:hover(primary) base:dark(darker.white) base:focus(black)" 
        data-h2-transition="base(color, .2s, ease, 0s)" 
        data-h2-font-size="base(copy)" 
        data-h2-display="base(inline)"
        data-h2-background-color="base:focus(focus)"
        data-h2-padding="base(x.15, x.25)"
        data-h2-vertical-align="base(middle)" 
        data-h2-font-weight="base(700)"
        style="outline: none;"
        href="{{ page.url }}#{{ section.title.id }}" 
        title="Skip to this section.">
        #
      </a>
    </h2>
  </div>
  {% if section.title.link %}
    <div
      data-h2-text-align="base(center) p-tablet(right)" 
      data-h2-flex-item="base(1of1) p-tablet(content)">
      <a
        href="{{ section.title.link.link }}"
        title="{{ section.title.link.title }}"
        data-h2-font-size="base(h6, 1.3)"
        data-h2-font-weight="base(300)"
        data-h2-background-color="base:focus(focus)"
        style="outline: none;"
        data-h2-color="base:hover(primary) base:dark:hover(lighter.primary) base:focus(black)">{{ section.title.link.label }}</a>
    </div>  
  {% endif %}
</div>