p {
  line-height: 1.3;
}

.accent-radial {
  height: 300%;
  width: 200%;
  position: absolute;
  top: -150%;
  left: -100%;
  opacity: 20%;
}

.primary-radial {
  height: 300%;
  width: 200%;
  position: absolute;
  bottom: -150%;
  right: -100%;
  opacity: 20%;
}

.section-icon {
  transform: rotate(-15deg);
}

pre,
pre code {
  white-space: pre-wrap !important;
}