<div data-h2-flex-grid="base(flex-start, 0, x2, x1)">
  <div data-h2-flex-item="base(1of1) laptop(1of2)">
    <div
      data-h2-radius="base(rounded)" 
      data-h2-shadow="base(l)">
      <pre
        data-h2-bg-color="base(dark.font)"
        data-h2-padding="base(x1)"
        data-h2-radius="base(rounded, rounded, 0, 0)"
        data-h2-overflow="base(auto, x)"
        data-h2-margin="base(x1, 0, 0, 0)"
        data-h2-font-color="base(white)"><code>data-h2-align-content="base(space-around)"</code></pre>
      <div
        data-h2-padding="base(x.5)"
        data-h2-height="base(x13)"
        data-h2-border="base:dark(top, 1px, solid, black)"
        data-h2-bg-color="base(white) base:dark(dark.font)"
        data-h2-radius="base(0, 0, rounded, rounded)">
        <div
          data-h2-align-content="base(space-around)"
          data-h2-flex-wrap="base(wrap)" 
          data-h2-display="base(flex)"
          data-h2-height="base(100%)">
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(dark.primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(dark.primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-h2-flex-item="base(1of1) laptop(1of2)">
    <div
      data-h2-radius="base(rounded)" 
      data-h2-shadow="base(l)">
      <pre
        data-h2-bg-color="base(dark.font)"
        data-h2-padding="base(x1)"
        data-h2-radius="base(rounded, rounded, 0, 0)"
        data-h2-overflow="base(auto, x)"
        data-h2-margin="base(x1, 0, 0, 0)"
        data-h2-font-color="base(white)"><code>data-h2-align-content="base(flex-end)"</code></pre>
      <div
        data-h2-padding="base(x.5)"
        data-h2-height="base(x13)"
        data-h2-border="base:dark(top, 1px, solid, black)"
        data-h2-bg-color="base(white) base:dark(dark.font)"
        data-h2-radius="base(0, 0, rounded, rounded)">
        <div
          data-h2-align-content="base(flex-end)"
          data-h2-flex-wrap="base(wrap)" 
          data-h2-display="base(flex)"
          data-h2-height="base(100%)">
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(dark.primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(dark.primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-h2-flex-item="base(1of1) laptop(1of2)">
    <div
      data-h2-radius="base(rounded)" 
      data-h2-shadow="base(l)">
      <pre
        data-h2-bg-color="base(dark.font)"
        data-h2-padding="base(x1)"
        data-h2-radius="base(rounded, rounded, 0, 0)"
        data-h2-overflow="base(auto, x)"
        data-h2-margin="base(x1, 0, 0, 0)"
        data-h2-font-color="base(white)"><code>data-h2-align-content="base(stretch)"</code></pre>
      <div
        data-h2-padding="base(x.5)"
        data-h2-height="base(x13)"
        data-h2-border="base:dark(top, 1px, solid, black)"
        data-h2-bg-color="base(white) base:dark(dark.font)"
        data-h2-radius="base(0, 0, rounded, rounded)">
        <div
          data-h2-align-content="base(stretch)"
          data-h2-flex-wrap="base(wrap)" 
          data-h2-display="base(flex)"
          data-h2-height="base(100%)">
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(dark.primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(dark.primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-h2-flex-item="base(1of1) laptop(1of2)">
    <div
      data-h2-radius="base(rounded)" 
      data-h2-shadow="base(l)">
      <pre
        data-h2-bg-color="base(dark.font)"
        data-h2-padding="base(x1)"
        data-h2-radius="base(rounded, rounded, 0, 0)"
        data-h2-overflow="base(auto, x)"
        data-h2-margin="base(x1, 0, 0, 0)"
        data-h2-font-color="base(white)"><code>data-h2-align-content="base(center)"</code></pre>
      <div
        data-h2-padding="base(x.5)"
        data-h2-height="base(x13)"
        data-h2-border="base:dark(top, 1px, solid, black)"
        data-h2-bg-color="base(white) base:dark(dark.font)"
        data-h2-radius="base(0, 0, rounded, rounded)">
        <div
          data-h2-align-content="base(center)"
          data-h2-flex-wrap="base(wrap)" 
          data-h2-display="base(flex)"
          data-h2-height="base(100%)">
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(dark.primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(dark.primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
          <div
            data-h2-display="base(inline-block)" 
            data-h2-width="base(30%)"
            data-h2-padding="base(x.5)">
            <div
              data-h2-bg-color="base(primary)"
              data-h2-height="base(x3)"
              data-h2-width="base(100%)"
              data-h2-radius="base(rounded)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>