<div data-h2-flex-grid="b(flex-start, 0, x2, x1)">
  <div data-h2-flex-item="b(1of1) l(1of2)">
    <div
      data-h2-radius="b(rounded)" 
      data-h2-shadow="b(l)">
      <pre
        data-h2-bg-color="b(dark.font)"
        data-h2-padding="b(x1)"
        data-h2-radius="b(rounded, rounded, 0, 0)"
        data-h2-overflow="b(auto, x)"
        data-h2-margin="b(x1, 0, 0, 0)"
        data-h2-font-color="b(white)"><code>data-h2-align-content="b(space-around)"</code></pre>
      <div
        data-h2-padding="b(x.5)"
        data-h2-height="b(x13)"
        data-h2-border="b:dark(top, 1px, solid, black)"
        data-h2-bg-color="b(white) b:dark(dark.font)"
        data-h2-radius="b(0, 0, rounded, rounded)">
        <div
          data-h2-align-content="b(space-around)"
          data-h2-flex-wrap="b(wrap)" 
          data-h2-display="b(flex)"
          data-h2-height="b(100%)">
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(dark.primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(dark.primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-h2-flex-item="b(1of1) l(1of2)">
    <div
      data-h2-radius="b(rounded)" 
      data-h2-shadow="b(l)">
      <pre
        data-h2-bg-color="b(dark.font)"
        data-h2-padding="b(x1)"
        data-h2-radius="b(rounded, rounded, 0, 0)"
        data-h2-overflow="b(auto, x)"
        data-h2-margin="b(x1, 0, 0, 0)"
        data-h2-font-color="b(white)"><code>data-h2-align-content="b(flex-end)"</code></pre>
      <div
        data-h2-padding="b(x.5)"
        data-h2-height="b(x13)"
        data-h2-border="b:dark(top, 1px, solid, black)"
        data-h2-bg-color="b(white) b:dark(dark.font)"
        data-h2-radius="b(0, 0, rounded, rounded)">
        <div
          data-h2-align-content="b(flex-end)"
          data-h2-flex-wrap="b(wrap)" 
          data-h2-display="b(flex)"
          data-h2-height="b(100%)">
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(dark.primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(dark.primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-h2-flex-item="b(1of1) l(1of2)">
    <div
      data-h2-radius="b(rounded)" 
      data-h2-shadow="b(l)">
      <pre
        data-h2-bg-color="b(dark.font)"
        data-h2-padding="b(x1)"
        data-h2-radius="b(rounded, rounded, 0, 0)"
        data-h2-overflow="b(auto, x)"
        data-h2-margin="b(x1, 0, 0, 0)"
        data-h2-font-color="b(white)"><code>data-h2-align-content="b(stretch)"</code></pre>
      <div
        data-h2-padding="b(x.5)"
        data-h2-height="b(x13)"
        data-h2-border="b:dark(top, 1px, solid, black)"
        data-h2-bg-color="b(white) b:dark(dark.font)"
        data-h2-radius="b(0, 0, rounded, rounded)">
        <div
          data-h2-align-content="b(stretch)"
          data-h2-flex-wrap="b(wrap)" 
          data-h2-display="b(flex)"
          data-h2-height="b(100%)">
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(dark.primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(dark.primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-h2-flex-item="b(1of1) l(1of2)">
    <div
      data-h2-radius="b(rounded)" 
      data-h2-shadow="b(l)">
      <pre
        data-h2-bg-color="b(dark.font)"
        data-h2-padding="b(x1)"
        data-h2-radius="b(rounded, rounded, 0, 0)"
        data-h2-overflow="b(auto, x)"
        data-h2-margin="b(x1, 0, 0, 0)"
        data-h2-font-color="b(white)"><code>data-h2-align-content="b(center)"</code></pre>
      <div
        data-h2-padding="b(x.5)"
        data-h2-height="b(x13)"
        data-h2-border="b:dark(top, 1px, solid, black)"
        data-h2-bg-color="b(white) b:dark(dark.font)"
        data-h2-radius="b(0, 0, rounded, rounded)">
        <div
          data-h2-align-content="b(center)"
          data-h2-flex-wrap="b(wrap)" 
          data-h2-display="b(flex)"
          data-h2-height="b(100%)">
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(dark.primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(dark.primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
          <div
            data-h2-display="b(inline-block)" 
            data-h2-width="b(30%)"
            data-h2-padding="b(x.5)">
            <div
              data-h2-bg-color="b(primary)"
              data-h2-height="b(x3)"
              data-h2-width="b(100%)"
              data-h2-radius="b(rounded)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>