<div data-h2-flex-grid="base(flex-start, 0, x2, x1)">
  <div data-h2-flex-item="base(1of1) laptop(1of2)">
    <div
      data-h2-radius="base(rounded)" 
      data-h2-shadow="base(l)">
      <pre
        data-h2-bg-color="base(dark.font)"
        data-h2-padding="base(x1)"
        data-h2-radius="base(rounded, rounded, 0, 0)"
        data-h2-overflow="base(auto, x)"
        data-h2-margin="base(x1, 0, 0, 0)"
        data-h2-font-color="base(white)"><code>data-h2-background-color="base(primary)"</code></pre>
      <div
        data-h2-padding="base(x1)"
        data-h2-border="base:dark(top, 1px, solid, black)"
        data-h2-bg-color="base(white) base:dark(dark.font)"
        data-h2-radius="base(0, 0, rounded, rounded)">
        <div
          data-h2-height="base(x5)"
          data-h2-width="base(100%)"
          data-h2-radius="base(rounded)"
          data-h2-background-color="base(primary)"></div>
      </div>
    </div>
  </div>
  <div data-h2-flex-item="base(1of1) laptop(1of2)">
    <div
      data-h2-radius="base(rounded)" 
      data-h2-shadow="base(l)">
      <pre
        data-h2-bg-color="base(dark.font)"
        data-h2-padding="base(x1)"
        data-h2-radius="base(rounded, rounded, 0, 0)"
        data-h2-overflow="base(auto, x)"
        data-h2-margin="base(x1, 0, 0, 0)"
        data-h2-font-color="base(white)"><code>data-h2-background-color="base(dark.accent)"</code></pre>
      <div
        data-h2-padding="base(x1)"
        data-h2-border="base:dark(top, 1px, solid, black)"
        data-h2-bg-color="base(white) base:dark(dark.font)"
        data-h2-radius="base(0, 0, rounded, rounded)">
        <div
          data-h2-height="base(x5)"
          data-h2-width="base(100%)"
          data-h2-radius="base(rounded)"
          data-h2-background-color="base(dark.accent)"></div>
      </div>
    </div>
  </div>
  <div data-h2-flex-item="base(1of1) laptop(1of2)">
    <div
      data-h2-radius="base(rounded)" 
      data-h2-shadow="base(l)">
      <pre
        data-h2-bg-color="base(dark.font)"
        data-h2-padding="base(x1)"
        data-h2-radius="base(rounded, rounded, 0, 0)"
        data-h2-overflow="base(auto, x)"
        data-h2-margin="base(x1, 0, 0, 0)"
        data-h2-font-color="base(white)"><code>data-h2-background-color="base(primaryRadial)"</code></pre>
      <div
        data-h2-padding="base(x1)"
        data-h2-border="base:dark(top, 1px, solid, black)"
        data-h2-bg-color="base(white) base:dark(dark.font)"
        data-h2-radius="base(0, 0, rounded, rounded)">
        <div
          data-h2-height="base(x5)"
          data-h2-width="base(100%)"
          data-h2-radius="base(rounded)"
          data-h2-background-color="base(primaryRadial)"></div>
      </div>
    </div>
  </div>
  <div data-h2-flex-item="base(1of1) laptop(1of2)">
    <div
      data-h2-radius="base(rounded)" 
      data-h2-shadow="base(l)">
      <pre
        data-h2-bg-color="base(dark.font)"
        data-h2-padding="base(x1)"
        data-h2-radius="base(rounded, rounded, 0, 0)"
        data-h2-overflow="base(auto, x)"
        data-h2-margin="base(x1, 0, 0, 0)"
        data-h2-font-color="base(white)"><code>data-h2-background-color="base(#cdeb46)"</code></pre>
      <div
        data-h2-padding="base(x1)"
        data-h2-border="base:dark(top, 1px, solid, black)"
        data-h2-bg-color="base(white) base:dark(dark.font)"
        data-h2-radius="base(0, 0, rounded, rounded)">
        <div
          data-h2-height="base(x5)"
          data-h2-width="base(100%)"
          data-h2-radius="base(rounded)"
          data-h2-background-color="base(#cdeb46)"></div>
      </div>
    </div>
  </div>
</div>